section.intro{
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-align: center;

    h1{
      font-family: $big-serif;
      font-size: 69px;
      line-height: 69px;
      color: $purple;

      @media screen and (max-width: $break-medium) {
        max-width: 420px;
      }

      @media screen and (max-width: $break-small) {
        font-size: 60px;
        line-height: 60px;
      }


    }
    // emd h1

    .derek{
      width: 100%;
      position: absolute;
      display: block;
      height: 520px;
      top: 0;
      left: 0;
      right: 0;
      background: url('../assets/images/derek.jpg') no-repeat center 50px;
      z-index: -1;
      background-size: 320px auto;
    }


}

section.about.sub{
  padding: 0px 0 75px 0;

  article{

    position: relative;
    z-index: 100;

    h2, h3, h4, p, ol, ul{
      max-width: 610px;
      margin-left: auto;
      margin-right: auto;
    }

    p, ol, ul{
      margin-bottom: 75px;
    }

    h2{
      letter-spacing: 4px;
      margin-bottom: 0;
    }

  }

    .content{
      margin: 0 auto;
      max-width: 1400px;
      padding: 0 25px;
    }

  // Bottom
  .bottom{
    padding: 75px 0;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 10%;
      left: 0;
      bottom: 0;
      background: url('../assets/images/big-smiley.svg') no-repeat right 50px;
      z-index: -1;
    }


    .content{
      display: flex;
      div.col{
        padding: 50px;
      }

      @media screen and (max-width: $break-medium) {
        div.col{
          padding: 25px;
        }
      }

      @media screen and (max-width: $break-small) {
        display: block;
          padding: 0px;
      }

    }

  }

}
