#app{

  h1, input, a{
    transition: all .1s ease-in-out;
  }

  h1 a{
    text-decoration: none;

  }

  // Black
  &.black form input{
    border-color: $black;
    outline: $black;
    color: $black;
  }

  &.black #items li a{
    background: $black;
  }

  &.black li.ui-state-highlight{
    opacity: .1;
    background: $black;
  }
  &.black footer a{
    color: #ccc;
  }


  // Purple
  &.purple form input{
    border-color: $purple;
    outline: $purple;
    color: $purple;
  }

  &.purple #items li a{
    background: $purple;
  }

  &.purple li.ui-state-highlight{
    background: $purple;
  }


  // Red
  &.red footer a{
    color: $red;
  }

  &.red form input{
    border-color: $red;
    outline: $red;
    color: $red;
  }

  &.red #items li a{
    background: $red;
  }

  &.red li.ui-state-highlight{
    background: $red;
  }


}