// Clear
.clear{
  display: block;
  margin: 0;
  font-weight: bold;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 57px;
  padding: 0;
  position: fixed;

  right: 0;
  bottom: 0px;
  font-size: 1.5rem;
  text-transform: uppercase;

  font-family: $base-font;
  z-index: 300;

  background: transparent;

  // background: linear-gradient(270deg, #6868da, #f14e5c);
  // background-size: 400% 400%;

  // -webkit-animation: clearbutton 30s ease infinite;
  // -moz-animation: clearbutton 30s ease infinite;
  // animation: clearbutton 30s ease infinite;

  transform: scale(1);
  transition: all .15s ease;

  cursor: pointer;
  color: $white;

  &.hide{
    transform: scale(0);
  }

  &:active{
   transform: scale(1.1);
  }
}