$white: #fff;
$black: #000;
$light-gray: #efefef;
$gray: #ddd;
$dark-gray: #333;

$purple: #6868da;
$red: #F14E5C;
$yellow: #e8d354;


#app{

  h1, input, a{
    transition: all .1s ease-in-out;
  }

  h1 a{
    text-decoration: none;

  }

  form input{
    background: $black;
    outline: $black;
  }

  #items li a{
    background: $black;
    &:hover{
      opacity: .8;
    }
  }

  li.ui-state-highlight{
    opacity: .1;
    background: $black;
  }

}