nav.colors{
  position: fixed;
  bottom: 5px;
  left: 5px;
  margin: 0 auto;
  z-index: 2000;

  ul, li{
    margin: 0;
  }

  ul li a{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 3px solid transparent;
    border-radius: 8px;

      &.active{
        border: 3px solid #fff;
      }

      &:hover{
        transform: scale(1.1);
      }

      &.black{
        background: $black;
      }

      &.red{
        background: $red;
      }

      &.purple{
        background: $purple;
      }

   }

}