// Typography
$base-font:  "filson-soft",sans-serif;

$white: #fff;
$black: #000;
$light-gray: #efefef;
$gray: #ddd;
$dark-gray: #333;

$purple: #6868da;
$red: #F14E5C;
$yellow: #e8d354;



// Breakpoints
$break-big: 1200px;
$break-med: 800px;
$break-small: 500px;

body{
 text-align: center;
}

h1{
  font-family: $base-font;
  font-size: 50px;
  width: 100%;
  font-weight: 700;
  top: 25px;
  a{
    font-family: $base-font;
  }
}

p{
  font-family: $base-font;
}

// Clear button
 a.clear{
  font-family: $base-font;
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  color: $dark-gray;
  background-color: $gray;
  border-radius: 5px;
  transition: all .1s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  &:active{
    transform: scale(.9);
  }
 }

// Hide selection
::selection {
  background: $purple;
  color: $white;
}
::-moz-selection {
  background: $purple;
  color: $white;
}