// Breakpoints
$break-big: 1200px;
$break-med: 800px;
$break-small: 500px;

// Hide selection
::selection {
  background: $purple;
  color: $white;
}
::-moz-selection {
  background: $purple;
  color: $white;
}

@-webkit-keyframes clearbutton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes clearbutton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes clearbutton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}