// Typography
$base-font:  "filson-soft",sans-serif;

$white: #fff;
$black: #000;
$light-gray: #efefef;
$gray: #ddd;
$dark-gray: #333;

$purple: #6868da;
$red: #F14E5C;
$yellow: #e8d354;


// Breakpoints
$break-big: 1200px;
$break-med: 800px;
$break-small: 500px;

body{
 text-align: center;
 background: #000;
}

h1{
  font-family: $base-font;
  font-size: 50px;
  width: 100%;
  font-weight: 700;
  top: 25px;
  a{
    font-family: $base-font;
  }
}

p{
  font-family: $base-font;
}

// Hide selection
::selection {
  background: $purple;
  color: $white;
}
::-moz-selection {
  background: $purple;
  color: $white;
}