#app{

    h1{
      position: fixed;
      padding: 5px;
      top: 0;
      font-size: 16px;
      text-align: left;
      z-index: 1000;
      background: $white;
    }

    #items{
      // padding-left: 30px;
      // padding-right: 30px;
      // li a{
      //   transform: scale(.8);
      // }
    }

    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}

form{
 position: relative;
 margin: 0 auto;
 width: 100%;
}
form button{
  display: block;
  visibility: hidden;
  width: 0px;
  padding: 0;
  margin: 0;
}

form input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid $white;
  width: calc(100% - 20px);
  max-width: 600px;
  margin: 0;
  color: $white;

  text-align: center;
  font-family: $base-font;
  font-size: 20px;
  -webkit-style: none !important;
  transition: all .1s ease-in-out;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

#items{
 margin: 0 auto;
 padding: 0;
 list-style: none;
 display: flex;
 flex-flow: column nowrap;
 max-width: 620px;

&.purple li a{
  background: $purple;
  color: $white;
}

 li{
  margin-bottom: 1px;

  span.handle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-right: 1px solid #fff;
    padding: 0 11px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  // &.done{
  //   order: 100;
  // }
  &.done{
    // span{
    //   display: none;
    // }
  }
  &.done a{
    color: #a9a9a9;
    background: #efefef !important;
    text-decoration: line-through;
    // padding-left: 10px;
  }

 }

 li a{
  font-family: $base-font;
  font-weight: 700;
  display: block;
  word-wrap: break-word;
  padding: 10px 10px 10px 60px;
  text-decoration: none;
  color: $white;
  transition: all .1s ease-in-out;
  text-align: left;

  position: relative;

  -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

  width: auto;

  &:hover{
    // transform: scale(.95);
  }

  &:active{
   transform: scale(1.025);
   // text-decoration: line-through;
   // cursor: wait;
  }

 }

 li.ui-sortable-helper a{
   cursor: move;
   cursor: -moz-grab;
   cursor: -webkit-grab;
 }

 li.ui-state-highlight{
  height: 50px;
  opacity: .2;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
 }

 li{
  font-size: 20px;
 }



}