#app{
  position: relative;
  z-index: 0;
}

form{
 position: relative;
 margin: 0 auto;
 width: 100%;
}
form button{
  display: block;
  visibility: hidden;
  width: 0px;
  padding: 0;
  margin: 0;
}

form input{
  margin: 0 0 1px 0;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
  color: $white;

  font-family: $base-font;
  font-size: 20px;
  -webkit-style: none !important;
  transition: all .1s ease-in-out;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

#items{
 margin: 0 auto;
 padding: 0;
 list-style: none;
 display: flex;
 flex-flow: column nowrap;
 max-width: 420px;
 background: #333;

 position: relative;
 z-index: 200;

&.purple li a{
  background: $purple;
  color: $white;
}

 li{
  margin-bottom: 1px;

  // &.done{
  //   order: 100;
  // }
  &.done{
    // span{
    //   display: none;
    // }
  }
  &.done a{
    color: #a9a9a9;
    background: #efefef !important;
    text-decoration: line-through;
    // padding-left: 10px;
  }

 }

 li a{
  font-family: $base-font;
  font-weight: 700;
  display: block;
  word-wrap: break-word;
  padding: 15px;
  text-decoration: none;
  color: $white;
  transition: all .1s ease-in-out;
  text-align: left;

  position: relative;

  -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

  width: auto;

  &:hover{
    background: #666;
  }

  &:active{
   transform: scale(.98);
   // text-decoration: line-through;
   // cursor: wait;
  }

 }

 li.ui-sortable-helper a{
   cursor: grabbing;
   cursor: -moz-grabbing;
   cursor: -webkit-grabbing;
 }

 li.ui-state-highlight{
  height: 50px;
  opacity: .2;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
 }

 li{
  font-size: 20px;
 }


}

// Clear
#clear{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #191818;
}

#ptr{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
 p{
  padding: 25px;
  color: $dark-gray;
 }
}
