// Rainbow Theme
nav.colors li a.rainbow{
  position: relative;
  top: 3px;
  text-indent: -9999px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icon-rainbow.svg) no-repeat center center;
  background-size: 100% auto;
}

body.rainbow{

}

// App Colors
#app.rainbow ul#items li{

  &.ui-state-highlight{
    opacity: .4;
    background: #bd4fda;
  }

   &:first-child a, &:nth-child(2) a{
    background: #bd4fda;
   }
   &:nth-child(3) a, &:nth-child(4) a{
    background: #e84ca4;
   }
   &:nth-child(5) a, &:nth-child(6) a{
    background: #ea5973;
   }
   &:nth-child(7) a, &:nth-child(8) a{
    background: #ec6d43;
   }
   &:nth-child(9) a, &:nth-child(10) a{
    background: #f08b33;
   }
   &:nth-child(11) a, &:nth-child(12) a{
    background: #f2b132;
   }
   &:nth-child(13) a, &:nth-child(14) a{
    background: #d9c72a;
   }
   &:nth-child(15) a, &:nth-child(16) a{
    background: #95c713;
   }

   &:nth-child(17) a, &:nth-child(18) a{
    background: #bd4fda;
   }
   &:nth-child(19) a, &:nth-child(20) a{
    background: #e84ca4;
   }
   &:nth-child(21) a, &:nth-child(22) a{
    background: #ea5973;
   }
   &:nth-child(23) a, &:nth-child(24) a{
    background: #ec6d43;
   }
   &:nth-child(25) a, &:nth-child(26) a{
    background: #f08b33;
   }
   &:nth-child(27) a, &:nth-child(28) a{
    background: #f2b132;
   }
   &:nth-child(29) a, &:nth-child(30) a{
    background: #d9c72a;
   }
   &:nth-child(31) a, &:nth-child(32) a{
    background: #95c713;
   }

}