@font-face {
 font-family: 'chivobold';
 src: url('../fonts/chivo-bold-webfont.woff2') format('woff2'),
      url('../fonts/chivo-bold-webfont.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

// Typography
$base-font: "chivobold", sans-serif;

html{
  font-size: 16px;
  line-height: 1.4444;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  background: $black;
}

p, li, a, input{
  font-family: $base-font;
  font-size: 1rem;
}