/* line 1, ../scss/main.scss */
body {
  text-align: center;
  font-family: courier;
}

/* line 6, ../scss/main.scss */
h1 {
  font-size: 25px;
  position: fixed;
  width: 100%;
}

/* line 12, ../scss/main.scss */
form {
  position: relative;
  top: 75px;
  margin: 0 auto 75px auto;
}

/* line 20, ../scss/main.scss */
form button {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 27, ../scss/main.scss */
form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: calc(100% - 20px);
  max-width: 500px;
  text-align: center;
  font-family: courier;
  font-size: 20px;
}

/* line 40, ../scss/main.scss */
#items {
  padding: 0;
  list-style: none;
}
/* line 46, ../scss/main.scss */
#items li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #666;
  transition: all .1s ease-in-out;
}
/* line 53, ../scss/main.scss */
#items li a:hover {
  color: #ddd;
}
/* line 57, ../scss/main.scss */
#items li a:active {
  text-decoration: line-through;
  color: #ccc;
}
/* line 64, ../scss/main.scss */
#items li:first-child {
  font-size: 40px;
}
/* line 67, ../scss/main.scss */
#items li:nth-child(2) {
  font-size: 39px;
}
/* line 70, ../scss/main.scss */
#items li:nth-child(3) {
  font-size: 38px;
}
/* line 73, ../scss/main.scss */
#items li:nth-child(4) {
  font-size: 37px;
}
/* line 76, ../scss/main.scss */
#items li:nth-child(5) {
  font-size: 36px;
}
/* line 79, ../scss/main.scss */
#items li:nth-child(6) {
  font-size: 35px;
}
/* line 82, ../scss/main.scss */
#items li:nth-child(7) {
  font-size: 34px;
}
/* line 85, ../scss/main.scss */
#items li:nth-child(8) {
  font-size: 33px;
}
/* line 88, ../scss/main.scss */
#items li:nth-child(9) {
  font-size: 32px;
}
/* line 91, ../scss/main.scss */
#items li:nth-child(10) {
  font-size: 31px;
}
/* line 94, ../scss/main.scss */
#items li:nth-child(11) {
  font-size: 30px;
}
/* line 97, ../scss/main.scss */
#items li:nth-child(12) {
  font-size: 29px;
}
/* line 100, ../scss/main.scss */
#items li:nth-child(13) {
  font-size: 28px;
}
/* line 103, ../scss/main.scss */
#items li:nth-child(14) {
  font-size: 27px;
}
/* line 106, ../scss/main.scss */
#items li:nth-child(15) {
  font-size: 26px;
}
/* line 109, ../scss/main.scss */
#items li:nth-child(16) {
  font-size: 25px;
}
/* line 112, ../scss/main.scss */
#items li:nth-child(17) {
  font-size: 24px;
}
/* line 115, ../scss/main.scss */
#items li:nth-child(18) {
  font-size: 23px;
}
/* line 118, ../scss/main.scss */
#items li:nth-child(19) {
  font-size: 22px;
}
/* line 121, ../scss/main.scss */
#items li:nth-child(20) {
  font-size: 21px;
}
/* line 124, ../scss/main.scss */
#items li:nth-child(21) {
  font-size: 20px;
}
/* line 127, ../scss/main.scss */
#items li:nth-child(22) {
  font-size: 19px;
}
/* line 130, ../scss/main.scss */
#items li:nth-child(23) {
  font-size: 18px;
}
/* line 133, ../scss/main.scss */
#items li:nth-child(24) {
  font-size: 17px;
}
/* line 136, ../scss/main.scss */
#items li:nth-child(25) {
  font-size: 16px;
}
/* line 139, ../scss/main.scss */
#items li:nth-child(26) {
  font-size: 15px;
}
/* line 142, ../scss/main.scss */
#items li:nth-child(27) {
  font-size: 14px;
}
/* line 145, ../scss/main.scss */
#items li:nth-child(28) {
  font-size: 13px;
}
/* line 148, ../scss/main.scss */
#items li:nth-child(29) {
  font-size: 12px;
}
/* line 151, ../scss/main.scss */
#items li:nth-child(30) {
  font-size: 11px;
}

/* line 159, ../scss/main.scss */
footer {
  padding-top: 75px;
  font-size: 10px;
}
/* line 162, ../scss/main.scss */
footer a {
  color: #6868da;
}
